/* When I added the header component to the js page i had to come back here and set the padding to 0 */
.checkout {
  display: flex;
  padding: 0px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px ;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

